@model SuperV.ViewModels.MachineDataDetailsVM
@{
    ViewBag.Title = "MachineDetails";
}

<style>
    body {
        color: #ffffff;
    }
</style>

<script type="text/javascript">
    function OnDateChanged(s, e) {

        $('#frmDateSelector').submit();
    }
</script>

@using (Html.BeginForm("MachineDetails", "Home", FormMethod.Post, new { @id = "frmDateSelector" }))
{
    @Html.HiddenFor(m => Model.ID)
    @Html.HiddenFor(m => Model.Status)
    @Html.Hidden("FromField", Model.From.ToString("o"), new { @id = "hiddenFromField" })
    @Html.Hidden("ToField", Model.To.ToString("o"), new { @id = "hiddenToField" })

    <div class="well well-machine-details @Model.BackgroundClass">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="row">
                    <div class="well-machine-detail-name">
                        @Model.MachineName
                    </div>
                </div>
                <div class="row">
                    <div class="well-machine-detail-label">
                        @Model.StatusName
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 @Model.BackgroundStripeClass">
                <div class="row">
                    <div class="well-machine-detail-speed">
                        @Model.Speed
                    </div>
                </div>
                <div class="row">
                    <div class="well-machine-detail-label">
                        Velocità
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="row">
                    <div class="well-machine-detail-code">
                        @Model.ProductCode
                    </div>
                </div>
                <div class="row">
                    <div class="well-machine-detail-label">
                        Codice
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="row padding-5-tb">

                    @Html.DevExpress().DateEditFor(m => m.From, settings =>
               {
                   settings.Properties.ClientSideEvents.DateChanged = "OnDateChanged";
                   settings.Properties.AllowNull = false;
               }).GetHtml()
                </div>
                <div class="row padding-5-tb">
                    @Html.DevExpress().DateEditFor(m => m.To, settings =>
               {
                   settings.Properties.ClientSideEvents.DateChanged = "OnDateChanged";
                   settings.Properties.AllowNull = false;
               }).GetHtml()
                </div>
                <div class="well-machine-detail-print">
                    <a href=@Url.Action("ExportDetails", new { @MachineID = Model.ID, @From= Model.From.ToString("o") , @To= Model.To.ToString("o") })><i class="fa fa-print fa-3x"></i></a>
                </div>

            </div>
        </div>
    </div>
}

@*<div class="well">
        <div class="row">
            <div class="col-md-12">
                @Html.Action("PivotGridPartial", new { @ID = Model.ID, @Status = Model.Status, @From = Model.From.ToString("o"), @To = Model.To.ToString("o") })
            </div>
        </div>
    </div>*@


@*<table class="table table-bordered">
        <thead>
            <tr>
                <th>start</th>
                <th>finish</th>
                <th>Code</th>
                <th>Minutes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WorkItems)
            {
                <tr>
                    <td>@item.Start</td>
                    <td>@item.Finish</td>
                    <td>@item.Code</td>
                    <td>@item.Minutes</td>
                </tr>
            }
        </tbody>
    </table>*@



<div class="well well-grid-details">
    <div class="row ">
        <div class="col-md-1">
            <i class="fa fa-table fa-3x theme-color"></i>
        </div>
        <div class="col-md-11">
            <h4>Bolle</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_GridViewPartial", Model.WorkItemRows)
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="well well-grid-details">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-table fa-3x theme-color"></i>
                </div>
                <div class="col-md-10">
                    <h4>Fasi</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="fasiTable">
                        <!-- in questo elemento viene caricata la grid fasi via ajax-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-grid-details">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-table fa-3x theme-color"></i>
                </div>
                <div class="col-md-10">
                    <h4>Attrezzaggi</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="attrezzaggioTable">
                        <!-- in questo elemento viene caricata la grid attrezzaggi via ajax -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-grid-details">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-table fa-3x theme-color"></i>
                </div>
                <div class="col-md-10">
                    <h4>Fermi</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="fermiTable">
                        <!-- in questo elemento viene caricata la grid fermi via ajax -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






