@model SuperV.ViewModels.MachineDataDetailsVM
@{
    ViewBag.Title = "MachineDetails";
}

<style>
    body {
        color: #ffffff;
    }
</style>

<script type="text/javascript">
    function OnDateChanged(s, e) {

        $('#frmDateSelector').submit();
    }
</script>

@using (Html.BeginForm("MachineDetails", "Home", FormMethod.Post, new { @id = "frmDateSelector" }))
{
    @Html.HiddenFor(m => Model.ID)
    @Html.HiddenFor(m => Model.Status)

    <div class="well well-machine-details @Model.BackgroundClass">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    @Model.MachineName
                </div>
                <div class="row">
                    @Model.StatusName
                </div>
            </div>
            <div class="col-md-3 @Model.BackgroundStripeClass">
                <div class="row">@Model.Speed</div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    @Model.ProductCode
                </div>
        </div>
        <div class="col-md-2">
            <div class="row padding-5-tb">

                @Html.DevExpress().DateEditFor(m => m.From, settings =>
               {
                   settings.Properties.ClientSideEvents.DateChanged = "OnDateChanged";
                   settings.Properties.AllowNull = false;
               }).GetHtml()
            </div>
            <div class="row padding-5-tb">
                @Html.DevExpress().DateEditFor(m => m.To, settings =>
               {
                   settings.Properties.ClientSideEvents.DateChanged = "OnDateChanged";
                   settings.Properties.AllowNull = false;
               }).GetHtml()
            </div>

        </div>
    </div>
</div>
}


@Html.Action("PivotGridPartial", new { @ID = Model.ID , @Status = Model.Status , @From =Model.From.ToString("o"), @To = Model.To.ToString("o")})


@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>start</th>
            <th>finish</th>
            <th>Code</th>
            <th>Minutes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkItems)
        {
            <tr>
                <td>@item.Start</td>
                <td>@item.Finish</td>
                <td>@item.Code</td>
                <td>@item.Minutes</td>
            </tr>
        }
    </tbody>
</table>*@



<div id="qui">

    @Html.Partial("_GridViewPartial", Model.WorkItems )

</div>






