@*@model SuperV.ViewModels.PartialPanelVM
 
<div id="refresh">Click Here!</div>
<div class="top-5">

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        Macchina 1
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <span class="badge">Art.001</span>
                                <i class="fa fa-amazon"></i>
                                @Model.MachinesData.Where(x => x.MachineID == 1).SingleOrDefault().ProductCode  
                            </div>
                            <div class="list-group-item">
                                <span class="badge">@Model.MachinesData.Where(x => x.MachineID == 1).SingleOrDefault().TotalCount</span>
                                <i class="fa fa-calendar"></i>
                                Conteggio pezzi
                            </div>
                            <div class="list-group-item list-group-item-warning">
                                <span class="badge">@Model.MachinesData.Where(x => x.MachineID == 1).SingleOrDefault().PartialCount</span>
                                <i class="fa fa-address-book"></i>
                                Conteggio parziale
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Macchina 2
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <span class="badge">Art.001</span>
                                <i class="fa fa-amazon"></i>
                                @Model.MachinesData.Where(x => x.MachineID == 2).SingleOrDefault().ProductCode
                            </div>
                            <div class="list-group-item">
                                <span class="badge">@Model.MachinesData.Where(x => x.MachineID == 2).SingleOrDefault().TotalCount</span>
                                <i class="fa fa-calendar"></i>
                                Conteggio pezzi
                            </div>
                            <div class="list-group-item list-group-item-warning">
                                <span class="badge">@Model.MachinesData.Where(x => x.MachineID == 2).SingleOrDefault().PartialCount</span>
                                <i class="fa fa-address-book"></i>
                                Conteggio parziale
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4  col-md-3">
                <div class="counter-content">
                    Counter R1N3
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R1N4
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>

            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R2N1
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R2N2
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R2N3
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R2N4
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>


            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R3N1
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R3N2
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R3N3
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R3N4
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R4N1
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R4N2
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R4N3
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>

            <div class="col-sm-4 col-md-3">
                <div class="counter-content">
                    Counter R4N4
                </div>
            </div>
        </div>
    </div>
</div>
<div id="messagesTable">
    <p> p in messagesTable</p>
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    @*<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>*@
    <!--Reference the autogenerated SignalR hub script. -->
    @*<script src="~/signalr/hubs"></script>*@
    <!--SignalR script to update the chat page and send messages.-->
    @*<script>
        //$(function () {
        //    // Reference the auto-generated proxy for the hub.
        //    var updater = $.connection.sR_firstHub;
        //    // Create a function that the hub can call back to display messages.
        //    updater.client.refreshData = function (newData) {
        //        // Add the message to the page.
        //        $('#serverValue').html('<li><strong>' + htmlEncode(newData) + '</strong></li>');
        //        CallPartialViewFromServer();
        //    };

        //    // Start the connection.
        //    $.connection.hub.start().done(function () {
        //        $('#refresh').click(function () {
        //            // Call the Send method on the hub.
        //            updater.server.getLastData();
        //            // Clear text box and reset focus for next comment.

        //        });
        //    });
        //});
        //// This optional function html-encodes messages for display in the page.
        //function htmlEncode(value) {
        //    var encodedValue = $('<div />').text(value).html();
        //    return encodedValue;
        //};

        //function CallPartialViewFromServer() {
        //    var tbl = $('#messagesTable');
        //    $.ajax({
        //        url: '/home/PanelPartial',
        //        contentType: 'application/html ; charset:utf-8',
        //        type: 'GET',
        //        dataType: 'html'
        //    }).done(function (result) {
        //        console.log(result);
        //        tbl.append(result);
        //    }).fail(function () {

        //    });
        //}
    </script> 
}*@

<div id="messagesTable">
    <p> p in messagesTable</p>
</div>